extends ../layout

block content
    script.
        function validateForm() {
                var paramId = document.forms["addForm"]["param_id"].value;
                var paramValue = document.forms["addForm"]["param_value"].value;
                var fromDate = document.forms["addForm"]["from_date"].value;
                var toDate = document.forms["addForm"]["to_date"].value;
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd;
                
                if (paramId == ""){
                    alert("param id field must not be empty");
                    return false;
                }

                if (paramValue == ""){
                    alert("value field must not be empty");
                    return false;
                }

                if (paramValue < 0){
                    alert("value must be greater than or equal 0");
                    return false;
                }

                if (paramValue > 100){
                    alert("value must be less than or equal 100");
                    return false;
                }

                if (fromDate < today){
                    alert("from Date must be greater than or equal today");
                    return false;
                }

                if (toDate <= fromDate){
                    alert("to Date must be greater than from Date");
                    return false;
                }
        }

        function fillForm(x){
            console.log(x.cells[0].innerHTML);
            
            document.forms["addForm"]["param_id"].value = x.cells[0].innerHTML;
            document.forms["addForm"]["param_value"].value = x.cells[1].innerHTML;
            document.forms["addForm"]["from_date"].value = x.cells[2].innerHTML;
            document.forms["addForm"]["to_date"].value = x.cells[3].innerHTML;

        }

    h1  Chi tiết chiết khấu dịch vụ của đơn hàng
    //- button(type='button' 
    //-     formaction = '/api/payment/deposit'
    //-     formmethod='GET') Submit using POST
    //- block param_add
    form(method='GET' action='/param/charge/add')
        button(type='submit') add
    br
    table( border='1')
        tr
            td Tên service
            td Chiết khấu đơn hàng (%)
            td Từ ngày
            td Tới ngày
            //- block paramcolumn
            td update
            //- td delete
        
        each item in list
            tr(onclick='fillForm(this)')
                td #{item.param_id}
                td #{item.param_value}
                td #{item.from_date}
                td #{item.to_date}
                //- block param_login
                td
                    button(onclick="document.getElementById('udtrow').style.display='block'" style='width:auto;' ) update
                    //- form(method='POST' action='/param/charge/update')
                    //-     button(type='submit' ) update
                //- td
                    //- button delete
                    //- form(method='GET' action='/api/payment/deposit')
                    //-     button(type='submit') delete
                td 
    
    #udtrow.modal
        form.modal-content.animate( name="addForm" onsubmit='return validateForm()' action='/param/charge/update' method='POST')
            .container
                | param id:
                br
                input(name='param_id')
                br
                | param value:
                br
                input( type='number' name='param_value')
                |  %
                br
                | from date:
                br
                input(name='from_date' readonly) 
                br
                | to date:
                br
                input(name='to_date' readonly) 
                br
                br
                input(type="submit")
                .container(style='background-color:#f1f1f1')
                    button.cancelbtn(type='button' onclick="document.getElementById('udtrow').style.display='none'") Cancel