extends layout

block content
    h1  Chi tiết chiết khấu dịch vụ của đơn hàng
    //- button(type='button' 
    //-     formaction = '/api/payment/deposit'
    //-     formmethod='GET') Submit using POST
    //- block param_add
    form(method='GET' action='/api/payment/deposit')
        button(type='submit') add
    table( border='1')
        tr
            td Tên service
            td Chiết khấu đơn hàng (%)
            block paramcolumn
            //- td update
            //- td delete
        each charge in chargelist
            tr
                td #{charge.name} 
                td #{charge.percent}
                block param_login
                //- td
                //-     form(method='GET' action='/api/payment/deposit')
                //-         button(type='submit') update
                //- td
                //-     form(method='GET' action='/api/payment/deposit')
                //-         button(type='submit') delete