extends layout

block content
    .row
        .main
            .row.padder
                h2(style='color: #dd3322;')
                    | Than ôi :( 
                    hr
                    | Một error đã xảy ra.
                hr
                a(href='/')
                    button  Về trang chủ.
