extends layout

block content
    h1  Bảng giá
    table( border='1')
        tr
            td Tên service
            td #{parameter}
        each row in list
            tr
                td #{row.param_id}
                td #{row.value}
