doctype html
html
  head
    title= title
    //- button Đăng nhập
    form(method='GET' action='/login')
        button(type='submit') Đăng nhập
    ul
      li
        a(href='/param/charge') Charge
      li
        a(href='/param/deposit') Deposit
      li
        a(href='/param/shipfee') Shipfee
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
