extends request

block requestForm
  .container
    label(for='usr')
      b Username
    input(type='text' placeholder='Enter Username' name='usr' required='')
    label(for='psw')
      b Password
    input(type='password' placeholder='Enter Password' name='psw' required='')
    button(type='submit') Login
    label
      input(type='checkbox' checked='checked' name='remember')
      |  Remember me
  .container(style='background-color:#f1f1f1')
    button.cancelbtn(type='button') Cancel
    span.psw
      | Forgot 
      a(href='#') password?
