extend request

block requestForm
  .container
    label(for='code')
      b Mã nạp tiền
    input(type='text' placeholder='Enter Password' name='code' required='')
    button(type='submit') Xác nhận
  .container(style='background-color:#f1f1f1')
    button.cancelbtn(type='button') Cancel
