extends charge

block param_add
    //- form(method='GET' action='/api/payment/deposit')
    form(method='GET' action= #{add_url})
        button(type='submit') add

block param_login
    td
        form(method='GET' action='/api/payment/deposit')
            button(type='submit') update
    td
        form(method='GET' action='/api/payment/deposit')
            button(type='submit') delete

block param_column
    td update
    td delete