extends layout

block content
    .row
        .main
            .row.padder
                h2
                    | CHÚC MỪNG ! 
                    hr
                    | Bạn đã thanh toán thành công.
                hr
                a(href='/')
                    button Về trang chủ.
