extends ../layout

block content
    script.
        function validateForm() {
                var paramId = document.forms["addForm"]["param_id"].value;
                var paramValue = document.forms["addForm"]["param_value"].value;
                var fromDate = document.forms["addForm"]["from_date"].value;
                var toDate = document.forms["addForm"]["to_date"].value;
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = yyyy + '-' + mm + '-' + dd;
                
                if (paramId == ""){
                    alert("param id field must not be empty");
                    return false;
                }

                if (paramValue == 'undefined'){
                    alert("value field must not be empty");
                    return false;
                }

                if (paramValue < 1){
                    alert("value must be greater than or equal 1");
                    return false;
                }

                if (fromDate < today){
                    alert("from Date must be greater than or equal today");
                    return false;
                }

                if (toDate <= fromDate){
                    alert("to Date must be greater than from Date");
                    return false;
                }
        }
    h1 Thêm tiền cọc
    form(name='addForm' onsubmit='return validateForm()' action='/param/deposit/add' method='POST')
        | param id 
        br
        input(type='text' name='param_id')
        br
        | param value
        br
        input(type='number' name='param_value')
        br
        | from date
        br
        input#from_date(type='date' name='from_date')
        br
        | to date
        br
        input#to_date(type='date' name='to_date')  
        br
        br
        input(type="submit")
    