extends ../layout

block content
    h1  Bảng giá phí ship
    //- button(type='button' 
    //-     formaction = '/api/payment/deposit'
    //-     formmethod='GET') Submit using POST
    //- block param_add
    form(method='GET' action='/param/shipfee/add')
        button(type='submit') add
    br
    table( border='1')
        tr
            td Tên service
            td Phí ship
            td Từ ngày
            td Tới ngày
            //- block paramcolumn
            td update
            td delete
        each item in list
            tr
                td #{item.param_id} 
                td #{item.param_value}
                td #{item.from_date}
                td #{item.to_date}
                //- block param_login
                td
                    button(onclick="document.getElementById('udtrow').style.display='block'" style='width:auto;') update
                    #udtrow.modal
                        form.modal-content.animate(action='/param/charge/update' method='POST')
                            .container
                                | param id 
                                br
                                input(type='text' name='param_id')
                                br
                                | param value
                                br
                                input(type='number' name='param_value' value=item.param_value)
                                |  %
                                br
                                | from date
                                br
                                input#from_date(type='date' name='from_date' )
                                br
                                | to date
                                br
                                input#to_date(type='date' name='to_date')  
                                br
                                br
                                input(type="submit")
                                .container(style='background-color:#f1f1f1')
                                    button.cancelbtn(type='button' onclick="document.getElementById('udtrow').style.display='none'") Cancel
                    //- form(method='GET' action='/api/payment/deposit')
                        button(type='submit') update
                td
                    button delete
                    //- form(method='GET' action='/api/payment/deposit')
                    //-     button(type='submit') delete